/* if the selector is of same type then last one will win */
/* priority inline > ID selector > class or attribute selector > element selector > universal selector */
h1 {
    color : brown;
}
.red {
    color : red;
}
.pink{
    color :pink;
}
.yellow {
    color : yellow;
}
/* attribute selector*/
[data-x=a] {
    background-color : purple;
}

/* important - it can overwrite inline css */
h2 {
    color : blue ! important ; 
}
/* specificity : 1+10+10+10 */
ol.blue.myclass:hover {
    color : blue;
    background-color: pink;
}
